.hidden {
    opacity: 0;
}
.show {
    opacity: 1;
}
@media(prefers-reduced-motion: no-preference) {
    .hidden {
        transition: all 1s;
    }
}
#title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 100px;
}
@media(max-width: 874px) {
    #title {
        font-size: 10vw;
    }
}